.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

<<<<<<< HEAD
.align-self-end {
  align-self: flex-end;
}

=======
>>>>>>> 87ae5f915cdc99a0bd6228da4b87819864212ea8
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.d-flex {
  display: flex;
}
